@import url("standard.css");

/* Das gilt auf der ganzen Seite */
* { cursor: default; }

span {
    opacity: 0.0;
    -webkit-transition: opacity .55s ease-in-out;
       -moz-transition: opacity .55s ease-in-out;
            transition: opacity .55s ease-in-out;
    font-family: 'Roboto', sans-serif;
    color: #bf4040;
}

.lbl--info {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    font-size: larger;
}

/* Ab hier alles fürs Form*/
input[type="radio"] {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
}

input:checked+span, input:hover+span {
    opacity: 1.0;
    -webkit-transition: opacity .55s ease-in-out;
       -moz-transition: opacity .55s ease-in-out;
            transition: opacity .55s ease-in-out;
}

.lbl--form--input {
    display: inline-block;
    width: 8vw;
    text-align: right;
    font-size: large;
}

.form--div--gdtwahl--top, .form--div--gdtwahl {
    margin-top: 1vw;
    margin-left: 1vw;
}

.btn--nav {
    margin-left: 1vw;
    margin-bottom: 1vw;
}

#btn_abbrechen { cursor: alias; }