@import url("standard.css");

* { cursor: default; }

p {
    margin-left: calc(1vw);
    font-size: larger;
    font-weight: bold;
}

pre {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    line-height: 1.5;
}

.btn--nav {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.btn--imp {
    float: right;
    margin-right: 1vw;
    margin-top: 1vw;
}

a, #btn_abbrechen { cursor: alias; }