@import url("standard.css");

* { cursor: default; }

a { cursor: alias; }

p, h2 { color: #3b4148; }

h2, ul, .btn--nav { margin-left: 1vw; }

ul {
    margin-right: 1vw;
    border: thin solid darkgray;
}

.btn--nav {
    margin-top: 1vw;
    margin-bottom: 1vw;
}